Service/Service References/CodeExecutionService/CodeExecutionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CodeExecutionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9090/CodeExecutionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9090/CodeExecutionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICodeExecutionService_Compile_InputMessage">
    <wsdl:part name="parameters" element="tns:Compile" />
  </wsdl:message>
  <wsdl:message name="ICodeExecutionService_Compile_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompileResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeExecutionService_Run_InputMessage">
    <wsdl:part name="parameters" element="tns:Run" />
  </wsdl:message>
  <wsdl:message name="ICodeExecutionService_Run_OutputMessage">
    <wsdl:part name="parameters" element="tns:RunResponse" />
  </wsdl:message>
  <wsdl:portType name="ICodeExecutionService">
    <wsdl:operation name="Compile">
      <wsdl:input wsaw:Action="http://tempuri.org/ICodeExecutionService/Compile" message="tns:ICodeExecutionService_Compile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICodeExecutionService/CompileResponse" message="tns:ICodeExecutionService_Compile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Run">
      <wsdl:input wsaw:Action="http://tempuri.org/ICodeExecutionService/Run" message="tns:ICodeExecutionService_Run_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICodeExecutionService/RunResponse" message="tns:ICodeExecutionService_Run_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICodeExecutionService" type="tns:ICodeExecutionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Compile">
      <soap:operation soapAction="http://tempuri.org/ICodeExecutionService/Compile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Run">
      <soap:operation soapAction="http://tempuri.org/ICodeExecutionService/Run" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CodeExecutionService">
    <wsdl:port name="BasicHttpBinding_ICodeExecutionService" binding="tns:BasicHttpBinding_ICodeExecutionService">
      <soap:address location="http://localhost:9090/CodeExecutionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>